// CORES

$cor-primaria: #1e1e2f;
$cor-secundaria: #00d1b2;
$cor-fundo: #ffffff;
$cor-texto: #333;
$fonte-principal: 'Inter', sans-serif;

// BREACPOINTS

$mobile-breakpoint: 600px;
$tablet-breakpoint: 900px;
$desktop-breakpoint: 1200px;

// FONTS

$desktop-bannertitle-fontsize: 4rem;
$desktop-sectiontiletitle-fontsize: 3rem;
$desktop-text-fontsize: 18px;